html{
    font-size: 16px;
}

body{
    color: darkslategray !important;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("../images/white_brick_wall.jfif");
    padding-top: 80px;
    /* background-repeat: no-repeat; */
    /* x-axis and y-axis */
    /* background-position: 100px 200px; */
    /* background-size: cover; */
}

img{
    width: 100%;}
h1{
    color: white;
}

/* 0001 */
p{
    background-color: lightblue;

    
    /* selecting multiple elements to apply same styles */
}
h1,h2,h3,h4{
    text-decoration: underline;
}
/* Specificity 0002 */
nav ul{
    list-style: none;
}

/* CSS display */
nav ul li{
    display: inline-block;
    width: 49%;
    padding: 1em;
    box-sizing: border-box;
}


nav ul a{
    color: darkslategray;
    text-decoration: none;
    /* rem is root element's(html tag) font size */
    font-size: 1.5rem;
    /* 1.5 times 16px=24px */
}
/* class name selector */
/* SPECIFICITY 0010 */
.orange-link{
    padding: 1.5em;
    width: 300px;
    display: inline-block;
    background-color: darkslategray;
    color: orange;
    text-decoration: none;
    clear: both;
   
}

article,
aside{
    width: 80%;
    background-color: rgba(255, 255, 255, 0.6);
    border: 1px solid black;
    padding: 1.5em;
    box-sizing: border-box;
    float: left;
}
aside{
    width: 20%;
}
.clearfix::after{
    content: '';
    display: table;
    clear: both;

}
section{
      /* clearing the float */
      clear: both;
}

.orange-link.large-text{
    position: absolute;
    right: 0;
    bottom: o;

}
/* id selector */
/* specificity 0100 */
#treatofweek{
    position: relative;
    
  
    /* background-color: orange; */
    background: darkslategray url("../images/Bread.jfif") no-repeat center center;
    background-size: cover;
    color: #fff;
    font-size: 1.5rem;
    /* 1.5rem= 1.5x16px=24px */
    /* 4 padding values - top right bottom left */
    padding: 1em 1em 3em 1em;
    /* 1 x 24px = 24px */
    width: 50%;
    

}
/* overwriting the background-color for nth-child list items */
/* specificity 0113 */
#treatofweek dl ul li:nth-child(2n+1){
    background-color: transparent;
}
/* avoid using id for styling, use classes mostly */
.large-text{
    font-size: 1.25rem;
    /* 1.25 x 16 =20px */
}
article>p{
    /* Typography Properties */
    font-size: 24px;
    font-weight: bold;
    line-height: 1.5;
    text-transform: lowercase;
    text-align: center;
    word-spacing: 12px;
    font-style: italic;
    

}
h3+ul{
    border: 1px solid black;
}
a[href="#treatofweek"]{
    font-weight: bold;
}
[title*="Executive"]{
    background-color: yellow;

}
/* using psrudo Classes
syyling Navigation */


nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 999;
}
nav ul a,
nav ul a:link,
nav ul a:visited{
    background-color: orange;
    /* horizontal vertical blur spread color */
    box-shadow: -2px 2px 4px 2px black;
}
nav ul a:hover,
nav ul a:focus{
    text-decoration: underline;
}
nav ul a:active{
    box-shadow: 0 0 4px 2px black;

}
aside ul li:first-child {
 font-weight: bold;
}

section ol li:last-child{
    font-weight: bold;

}
/* nth-child using formula 
n= 0,1,2,3,4,5,..
even= 2n=0,2,4,6,8....
odd= 2n+1= 1,3,5,7,9....*/
/* 0013 */
dl ul li:nth-child(odd){
    background-color: rgb(187, 40, 40);
}
/* CSS Specificity */
/* Specificity 0002 */
body footer{
    background-color:rgb(0, 0, 0);
  }
  /* Specificity 0001 */
  footer{
      background-color: sandybrown;
      padding: 20px;
  }
  /* Specificity 0010 */
  .site-footer{
      background-color: cornflowerblue;
  }
/* *********************** */
/* Specificity 0011 */
footer.site-footer{
    background-color: rgba(0, 0, 0, 0.2)
}


