/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/******************************* css reset ***************************************/
html{
    font-family: 'Roboto', sans-serif;
    max-width: 1200px;
    font-size: 16px;
}
h1{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 2rem;
    text-align: center;
}
header img{
    width: 10080%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar li a{
    background-color: #000000;
    color: white;
    padding: 20px 60px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    align-items: center;
    
    display: flex;
    justify-content: center;


}
.navbar li a:hover{
    color: teal;
}
.navbar ul li{
    background-color: black;
    
}
.container1{
    margin-top: 1.5rem;
    margin-left: 0.3rem;
}
.container1 li{
    margin-top: 1.2rem;
}
p{
    text-align: center;
}


footer{
    background-color: black;
}
footer a{
    text-decoration: none;
    color: goldenrod;
    justify-content: center;
    
}
.icons{
    display: flex;
    justify-content: center;
    padding: 10px;
}
.icons a{
    display: flex;
    justify-content: center;
    padding: 0px 30px;
}
footer p{
    color: goldenrod;
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
}

/* ******************************About Page****************** */
.container1 img{
    width: 100%;
    height: auto;
}
.container1 p{
    margin: 5px 60px;
}

/* ***********************contact page css**************** */
body 
* {box-sizing: border-box;}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    margin-top: 20px;
  }

/******************************* Tablet styles********************** */
@media screen and (min-width: 480px){
    header img{
        width: 100%;
        display: flex;
        justify-content: center;
    
    }

.works{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 0.5rem;
    /* Grid template areas */



}
.works img{
    width: 100%;
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

}
.works img:hover,
.works img:hover::before{
    opacity: 1;
}





}