/* Adding google fonts */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,900&display=swap');

/* ************************************** */

/* Mobile First Css Style sheet */
body {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
}

/* styling navigation -Specificity 0110*/
#nav.nav {
  width: auto;
  margin: 0px auto;
  padding: 30px;
  border: 3px solid rgb(0, 0, 0);
  background-color: rgb(0, 0, 0);

  text-align: center;
}
/* ********************************** */

#nav a {
  color: beige;
  display: block;

}
#nav a:hover{
  color: yellow;
}


/* styling main- Specificity 0110*/
#main.main {
  max-width: auto;
  margin: 0px auto;
  background-color: rgb(59, 59, 59);
}

/* ******************* */

/* styling home section- Specificity 0110*/

#home.home {
  padding: 100px;
  background-color: rgb(255, 255, 255);
}

#home.home p {
  color: black;
}

section#home {
  font-family: 'Poppins', sans-serif;
  font-size: 1.2rem;
  text-align: center;

}
/* ********************* */

/* styling about section- Specificity 0110*/
#about.about {
  padding: 100px;
  background-color: rgb(0, 0, 0);
}
/*  */

#about {
  font-family: 'Poppins', sans-serif;
  text-align: center;
  font-size: 1.2rem;

}
/* styling about img- Specificity 0011 (chaning the size in Mobile view)*/

img.about-image {
  align-items: center;
  padding-left: 25px;
  

  width: 100px;
}
/* ******************** */

#contact h2,
p {
  color: white;
  text-align: center;
  font-family:'Poppins', sans-serif ;
}
#contact p{
  font-size: 1.2rem;
}
/* styling form - Specificity 0011*/
form.contact-form {
  padding: 60px;
  width: auto;
  margin: 0px auto;
}

footer{
  background-color: rgb(0, 0, 0);
  padding: 15px;
}
/* ***************Desktop styles *************/
@media screen and (min-width: 760px) {

  #nav a {
    display: inline-block;
    margin-inline: 50px;
  }
  #nav a:hover{
    color: rgb(255, 251, 0);
  }
  #about h2 {
    text-align: center;
    padding-left: 250px;
  }

  /* styling about img- Specificity 0011 (chaning the size in desktop view)*/
  img.about-image {
    float: left;
    width: 250px;
  }
  #contact p{
    padding: 30px;
    font-size: 16px;
  
  }
  

  

}
/********************** CSS style sheet end**************** */

