html{
    font-size: 16px;
}
body{
    background-color: #aad4cf;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container1 img{
    
    
}





.button{
    background-color:#aad4cf;
}