/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ************************CSS RESET END****************** */

/* STYLING  -MOBILE FIRST  */
html{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    box-sizing: border-box;
}
body{
    background-color: #f7f7ff;
    /* margin: 40px; */
    color: #333131;
    
}
main{
    margin: 0;
}
*:after,
*:before{
    box-sizing: inherit;
}
/* Adjusting font sizes for mobile version */
h1{
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.25;
}
h2{
    font-size: 2.5rem;
    font-weight: 700;
}

p{
    font-size: 1.35rem;
    line-height: 1.75rem;
}
a{
    text-decoration: none;
}
header{
    padding: 1rem 2rem;
}
.banner-text{
    margin:30px;
}
/* main{
    padding: 1.80rem;
} */
.container1 img{
    width: 100px;
    height: auto;
    margin: 0;
}
.apply p{
    font-size: 1rem;
    padding-top: .75rem;
}
.txt{
    display: none;
}
.apply{
    padding: 1.75rem;
    margin: 2rem 2rem 3rem;
    box-shadow: 5px 10px 15px rgba(50, 50, 50, 0.4);
    border-radius: 20px;
    background-color: #fff;
}

      
/* using flex to arrange apply now */
.form form{
    display: flex;
    flex-direction: column;
    
}
.form form div:nth-child(1){
    order: -4;
}
.form form div:nth-child(2){
    order: -3;
}
.form form div:nth-child(4){
    order: -2;
}
.form input{
    padding: 0.8rem;
    width: 88%;
    display: block;
    border-radius: 10px;
    margin: .2rem 0;
    border: none;
    background-color: #f7f7ff;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;


}
#terms{
  margin: 1rem 1rem 1rem 0;  
  height: 25px;
  width: 25px;
  
}
.checkbox{
    display: flex;
    align-items: center;
}

/* Styling button for "Apply now" */
.apply button{
    font-size: 1.5rem;
    font-weight: bold;
    background-color: #57eeab;
    padding: 1rem;
    border-radius: 10px;
    border: none;
    transition-duration: 200ms;
    
}
.apply button:hover{
    box-shadow: 4px 2px rgba(18, 177, 105, 0.2);
}
.apply a{
    color: #ff8480;
}

/* Styling footer */
footer{
    margin: 0%;
    background-color: #fffd8c;
    padding: 2rem 3rem;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
footer h3{
    font-weight: 700;
    font-size: medium;
}
footer p{
    font-size: 1rem;
    line-height: 1.2;
}
footer h3,p{
    margin: .75rem 0;
}
/* styling form in the footer using flex */
.footer-form{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.footer-form input{
    padding: .5rem;
    border: none;
    border-radius: 10px;
    width: 100%;
    font-size: 1rem;
    background-color: #f7f7ff;
    font-family: 'Montserrat', sans-serif;
}
    


.footer-form div:nth-child(1){
    flex-basis: calc(30% - 1rem);
    margin:0 1rem 0 0;
}
.footer-form div:nth-child(2){
    flex-basis: calc(70% - 1rem);
    margin: 0 1rem 0 0;
}
.footer-form div:nth-child(3){
    flex-basis: 100%;
} 

.footer button{
    font-size: 1.5rem;
    font-weight: bold;
    background-color: #ff8480;
    border: none;
    border-radius: 10px;
    padding: .5rem 1rem;
    width: 100%;
    margin: 1rem 0;
    color: #fff;
}
.footer button:hover{
    box-shadow: 4px 4px 22px 4px rgba(204, 32, 27, 0.1)
}
.footer-form div:nth-child(4){
    margin:1rem 0;
    flex-basis: auto;
}
.media{
    margin-top: 1rem;
    
}
.media a{
    margin: 1rem .8rem;
}

.media .fb{
    border-radius: 50%;
}
/***************** Tablet styles ***************/
@media screen and (min-width: 640px){
    
.banner-img{
    width: 600px;
    padding-left: 80px;
    
}
.banner h1{
    font-size: 8rem;
}

.banner p{
    font-size: 2rem;
    line-height: 2.5rem;
    margin-top: 30px;
}
.form input{
    padding: 0.8rem;
    width: 97%;
    
}
.form form div:nth-child(4){
    order: -1;
}
.apply button{
    font-size: 1.5rem;
    font-weight: bold;
    background-color: #57eeab;
    padding: 1rem 12.2rem;
    border-radius: 10px;
    width: 100%;
    border: none;
    transition-duration: 200ms;
    
}
.btn p{
    text-align: center;
}

footer{
    flex-direction: row;

}
.footer-details{
    flex-basis: 100%;
}
.footer-form{
    align-items: center;
    justify-content: flex-start;
}
.footer-form div:nth-child(1){
    flex-basis: calc(20% - 1rem);
    
}
.footer-form div:nth-child(2){
    flex-basis: calc(40% - 1rem);
    padding-left: 10px;

}

.footer-form div:nth-child(3){
    flex-basis: calc(30% - 1rem);
    padding-left: 10px;

}
.media{
    padding-left: 20%;
}
.media a{

    padding: 1rem 1rem 1rem 1rem;
    
}

}

/*********************** styling desktop-site******************** */

@media screen and (min-width: 1280px){

.container2{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    position: relative;
    margin-top: 2rem;
}
.banner-img{
    z-index: -1;
    max-width: 800px;
    margin: 0 -10rem;
}

.apply{
    margin: 0 3rem 2rem 0;
}
.txt{
    display: inline;
}
.apply p{
    font-size: medium;
}
.apply button{
   
    padding: 1rem 2rem;
    width: 100%;
}
.footer-details{
    flex-basis: 50%;
}
.apply p{
    font-size: 1.1rem;
}
footer p{
    margin: 0.5rem 0;
}
.media{
    padding-top: 10px;
    display: flex;
}
.media a:nth-child(1){
    order: 1;

}
.media a:nth-child(4){
    order: 2;

}
.media.fb{
    border-radius: initial;
}


}


