/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/******************************* css reset ***************************************/

/* CSS For Final Project */

html{
    font-family: 'Open Sans', sans-serif; 
    font-size: 14px;

}

body{
    line-height: 1.5;
}
*,*:before, *:after{
    box-sizing: inherit;
}

.container1{
    padding: 0;
    margin: 0 auto;
}



h1, h2, h3, h4{
    font-weight: bold;
}
h1{
    font-size: 4rem;
    font-weight: 600;
}
h2{
    font-size: 3rem;
    font-weight: 800;
}
h3{
    font-size: 2rem;
    font-weight: 700;
}
h4{
    font-size: 1rem;
    font-weight: 700;
}
.fa-caret-right{
    color: #fff;
    margin-left: 0.5em;
}
.btn{
    text-decoration: none;
    color: #fff;
    padding: 1.25em;
    background-color: #222;
    display: inline-block;
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 1em;
    
}
.btn:hover{
    background-color: gray;
}

.about-content::after{
    content: "";
    clear: both;
    display: table;
}
.container2{
    max-width: 1200px;
    margin: 0 auto 2em;
    padding: 1em;

}
.container2 img {
    height: 270px;
    width: 100%;
}
section{
    margin-bottom: 2em;
}

/* *****************Header***************** */
header{
    background-color: #222;
    padding-top: 1em;
}
/* ***************Navigation *******************/
.nav-container{
    margin: 0;
    padding: 0;
}
.nav-list li a{
    text-decoration: none;
    text-align: center;
    color: #c78b06;
    display: block;
    background-color: #222;
    padding: 1.5em;
}
.nav-list li a:hover{
    background-color:#c78b06;
    color: #222;
}
.nav-list li a .current{
    background-color:#c78b06 ;
    color: #222;
}
.nav-list li:nth-child(1){
    background-color: #c78b06;
    padding: 1.5em;
}

#search{
    padding: 1em;
    width: calc(100% - 2em);
    box-sizing: border-box;
    border-radius: 2px;
    vertical-align: center;
}
.search-bar{
    display: flex;
    padding: 1em;
}

.fa-search{
    margin: 0px;
    padding: .25em;
    border: 1px solid #c78b06;
    font-size: 2rem;
    color:#c78b06;
}

/* ***************************Main-banner************************* */



.banner1{
   background: url(../images/main-banner.jpg) center no-repeat;
   height: 600px;
   width: 100%;
   display: flex;
   padding: 2rem 0;
   margin-bottom: 0px;
   position: relative;
   background-size: cover;
}
.banner-text{
    background-color: rgba(34, 34, 34, .8);
    color: white;
    position: absolute;
    left: 0px;
    top: 130px;
    /* z-index: 3; */
}
.banner-text *{
    margin: 1rem;
}

.banner-text .btn{
    color: #222;
    background-color:#c78b06;
}
.banner-text .btn:hover{
    color: #fff;
    background-color: #222;
}
.banner-text .fa-caret-right{
    color: #222;
    font-size: 2rem;
}
/* ***************main******** */

/* ****************Section-about************ */

.about-clearfix{
    background-color: #ffe6ac;
}
.about-clearfix img{
    width: 100%;
}
.about-clearfix h2{
    margin-top: 0.5em;
}
.about-clearfix p{
    margin-top: 1em;
}

/* ****************Our Services************ */

.services{
    margin-left: 1em;
}
.services div > div {
    background-color: #ffe6ac;
    margin: 1em 0;
}
.services img{
    width: 100%;
    
}
.services p{
    margin: 1em;
}
.services div div div{
    padding: 1em;
}
.services h3{
    margin: 0.5em;
}
/* **************Vision************** */

.vision{
    background: grey url(../images/vision.jpg) no-repeat center;
    padding: 1em;
    color: #fff;
    margin: .5em;
}
.vision .btn{
    border: 1px solid #c78b06;
}

.vision p{
    margin-top: 1em;
}

/* ********************Our team ****************/
.team{
    margin-left:1em;
}
.teamlist div{
    background-color:#ffe6ac ;

}
.teamlist img{
    width: 100%;

}
.team-member{
    padding: 1em;
}
 hr {
   border: 1px solid #c78b07;
}

.teamlist div:nth-child(3){
    margin-bottom: 1em;
}

/**************** contact************* */
.contact-us{
    margin-left: 1em;
}
.contact-us div{
    margin-top: 1em;
}
.contact-container h3{
    margin-bottom: .5rem;

}
.contact-form div{
    margin-top: 1em;

}
.contact-form input{
    border: .5px solid grey;
    border-radius: 3.5px;
    width: 100%;
    padding: 0.5em;
}

.contact-form textarea{
    width: 100%;
    resize: none;
    border: 0.5px solid gray;
    border-radius: 3.5px;

}
button{
    background-color: 222222;
    color:#c78b06;
    padding: 0.5em 1em;
    margin-top: 0.5em;
}
table, th, td{
    border: 1px solid black;
    padding: 1em;
}
table{
    width: 100%;
    border-collapse: collapse;
}
th{
    background-color: #fde3a7;

}
/* *******************Styling footer ****************/
footer{
    background-color: #222;
    color: #c78c06;
    padding: 0.5em;
    margin-top: 1em;
}
footer p {
    padding: 0.5em;
}
footer a {
    text-decoration: underline;
    color: #c78c06;
}

/***************** Desktop styles*************** */

@media screen and (min-width: 760px){
    html{
        font-size: 16px;
    }
h1{
    font-size: 5rem;
    margin-bottom: 1rem;
}

.container2{
    margin: 0 auto;
}
.container2{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
}
header{
    background-color: #222;
    padding: 1em 0 0 0;
}
.banner1{
 
    background-size: 100%;
}
.banner-text{
    margin-left: 10%;
    margin-right: 10%;
    max-width: 1200px;    
}
/******************** nav************** */
.nav-container{
    margin: 0 auto 2em;
    padding: 1em;

}
.nav-list{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-list li{
    flex: 1;
}
.nav-list li:nth-child(7){
    flex-basis: 12.5%;
}
.nav-list li a{
    text-decoration: none;
    color: #c78b06;
    padding:1.5em 0 ;
    display: block;

}
.nav-list li a:hover{
    background-color: #c78c06;
    color: #222222;

}
.nav-list li img{
    float: left;
}

    .nav-list li:nth-child(1){
        background-color: #222;
        padding: 0;
    }
    .about-clearfix{
        padding: 1.5em;
    }
    .about-clearfix img{
        float: left;
        width: 50%;
        margin-right: 1em;
    }
    .about-clearfix h2, p{
        margin: 0;
    }

    /* **********************Services****************** */
    
.our-services{
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-areas: 
    "header header header header header header"
    "digital digital digital marketing marketing marketing"
    "video video web web print print";
    grid-gap: 1em;
}
.our-services h2{
    grid-area: header;
}
.our-services div:nth-child(2){
    grid-area: digital;
}
.our-services div:nth-child(3){
    grid-area: marketing;
}
.our-services div:nth-child(4){
    grid-area: video;
}
.our-services div:nth-child(5){
    grid-area: web;
}
.our-services div:nth-child(6){
    grid-area: print;
}
.services .btn{
    display: block;
    text-align: center;
}
.services div div{
    margin: 0;
}
.vision{
    background-size: 100%;
    margin: 1em 0;
    padding: 2em;
}
.teamlist img{
    display: block;
}
.team-member {
height: 92%;
}
.teamlist{
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-areas: 
    "head head"
    "img-john john"
    "bob img-bob";
}

.teamlist h3{
    grid-area: head;
}
.teamlist div:nth-child(2){
    grid-area: img-john;
}
.teamlist div:nth-child(3){
    grid-area:john;
}
.teamlist div:nth-child(4){
    grid-area: img-bob;
}
.teamlist div:nth-child(5){
    grid-area: bob;
}
/* -------------------------------
Contact Us
------------------------------- */
.contact-container button{
    background-color: #222222;
    
    
}
.contact-container button:hover{
    background-color: gray;
    color: white;
}
.contact-container{
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "contacthead contacthead"
    "contactform contactlocation"
    "contacttable contacttable"
    ;

}

.contact-container div:nth-child(2) {
    grid-area: contactform;
    
  
}
.contact-container div:nth-child(4) {
    grid-area: contactlocation;
    margin-left: 2em;

}
.contact-container div:nth-child(3) {
    grid-area: contacttable;

}






}